body {
  height: 95vh;
}

.ui.secondary.pointing.top.attached.three.item.inverted.menu {
  background-color: #004e7c;
}

.median_age {
  font-weight: normal;
}

.title_text {
  font-weight: bold;
  font-size: 75pt;
  color: #333333;
}

.topic_header_text {
  font-weight: bold;
  font-size: 36pt;
  color: #333333;
}

.topic_text {
  font-weight: bold;
  font-size: 30pt;
  color: #333333;
}

/*#homepage_col1, #homepage_col2 {*/
/*  background-color: #b73225;*/
/*}*/
