body {
  height: 95vh;
}

.ui.secondary.pointing.top.attached.five.item.inverted.menu {
  background-color: #004e7c;
}

.medianAge {
  font-weight: normal;
}

.titleText {
  font-weight: bold;
  font-size: 75pt;
  color: #333333;
}

.topicText {
  font-weight: bold;
  font-size: 30pt;
  color: #333333;
}

/*#homepage_col1, #homepage_col2 {*/
/*  background-color: #b73225;*/
/*}*/

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 1300px;
}

.summary.text {
  font-family: Arial;
  font-size: 11pt;
}
